/*
 * EnsiLAN
 * version 0.2
 *
 * Couleurs
 * --------
 * rouge mario : #e70d0d
 * rouge fond : #c42d2d
 * bleu fond : #635fac
 * bleu sonic : #2424b0
 */


body {
    margin: 0 auto;
    font-family: "Open Sans", "Helvectica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    background: url('/img/paper.png') left top repeat;
}

header, #content, footer {
    width: 900px;
    margin: auto;
    clear: both;
}

a {
    color: #2424b0;
    text-decoration: none;
    border: none;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
}

header {
    margin-top: 15px;
}

header h1 {
    margin: 0;
}

header h1 a {
    display: block;
    width: 900px;
    height: 250px;
    margin: 0;
    text-indent: -9000px;
    background: url('/img/ensilan.png') left top no-repeat;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    box-shadow: 0 0 10px #666;
    -webkit-box-shadow: 0 0 10px #666;
    -moz-box-shadow: 0 0 10px #666;
    -o-box-shadow: 0 0 10px #666;
    transition: all 2s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
header h1 a:hover,
header h1 a:focus,
header h1 a:active {
    box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    -o-box-shadow: 0 0 20px #000;
    transition: all 2s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
header nav {
    box-shadow: 0 0 10px #666;
    -webkit-box-shadow: 0 0 10px #666;
    -moz-box-shadow: 0 0 10px #666;
    -o-box-shadow: 0 0 10px #666;
}
header nav#header-menu ul {
    margin: 0;
    padding: 0 5px;
    overflow: hidden;
    list-style-type: none;
    background: #000;
    background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop( 0.0, rgb(89, 89, 89) ),
        color-stop( 0.000, rgb(90, 90, 90) ),
        color-stop( 1.0, rgb(0, 0, 0) ));
    background-image: -webkit-linear-gradient(top,
        rgb(89, 89, 89), 
        rgb(90, 90, 90) 0.0%,
        rgb(0, 0, 0) );
    background-image: -moz-linear-gradient(top,
        rgb(89, 89, 89), 
        rgb(90, 90, 90) 0.0%,
        rgb(0, 0, 0) );
    background-image: -ms-linear-gradient(top,
        rgb(89, 89, 89), 
        rgb(90, 90, 90) 0.0%,
        rgb(0, 0, 0) );
    background-image: -o-linear-gradient(top,
        rgb(89, 89, 89), 
        rgb(90, 90, 90) 0.0%,
        rgb(0, 0, 0) );
    background-image: linear-gradient(top,
        rgb(89, 89, 89), 
        rgb(90, 90, 90) 0.0%,
        rgb(0, 0, 0) );
}
header nav#header-menu a {
    display: block;
    float: left;
    padding: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

#content {
    width: 856px;
    padding: 20px;
    overflow: hidden;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
}
#content p {
    margin: .5em 0;
}
#content h2 {
    font-family: Bitter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #c42d2d;
}
#content section article {
    margin: 1em 0;
}

#content section.tournaments article,
#content section.games article {
    clear: both;
    overflow:hidden;
}
#content section.tournaments img,
#content section.games img {
    display: block;
    margin: 5px 20px 5px 0;
    float: left;
}
#content section.tournaments .name,
#content section.games .name {
    margin: 20px 20px;
    font-family: Bitter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    width: 600px;
}
#content section.tournaments .ss-name {
    margin: 20px 20px;
    font-family: Bitter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #909090;
    width: 600px;
}
#content section.tournaments .description,
#content section.games .description {
    margin: 5px 20px;
    width: 600px;
}

#content section.aside {
    width: 65%;
    float: left;
}
#content aside {
    width: 32%;
    float: right;
}
#content aside.event {
    width: 25%;
    margin-right: 20px;
    padding: 10px 5px;
    text-align: center;
    /*
    background: #e4eeef;
    background: #e4eeef url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAABYBAMAAACDuy0HAAAAG1BMVEX+/v4BAQH///8KCgoDAwN/f3/19fWAgID8/PzhDwT2AAAACXRSTlMFBQUFBQUFBQWHDtP9AAALwklEQVR4Xg3KOWOyWhAA0Bn2ci57eXEvQY1JCZp8sQTjVoJLTAkaE0swbj/7ve4UB37FLW4q86Lwwlh86J/ASAkpWaj+Krbb31HzH0Kjc2tIl7SADaWbpZBPE5dds6jJNyNdjAyKWqdroIixWRQIY6E/kOY7hIciL/ZfrAO3XP/06AuUJ3mSd/z95OB9vIal0DPlaZWHP7RE6DIXjmKqKkuGr+xNZylOnj1GSlUKvnxZDBOIzTfMe0fJgJ7c/GIIOdUuKxYyBFUOzvY6AC5AXx8R+o5O4S0j0wqBND3ErIYm/XHFbQjtH1MXD5dUbp19OFdjkDlys+HSwrBgHRvL9wVN/pi8ViOIwcv/D1GRW6UuDvJLLQA5lCI17iUdsKYpOuYfMATGnpn/Zs3W6gov51G+/Vs9Ay//we5kh8uwvEPum6o5HkDMDb3ZWunwtq+UzENU8NphDdbvNtKM3knx5gi6UMSQl+eGs+27mraDtxeWdH+T62Us/GylEtr7Ct8jlbeXKvAf5onx8D2uVt1J/GblV+XQyKUInOUG44fqjcszK266yHWAAYG9ekhvy4l4Maa44jYVyV2RFEuS54e2HcswtmNdqR/+V4P0O9e4XnpWgxVSQkNXpYMCxJ4Vel0lmi56jnYIIJAQMndF+zTEiyuj92r3ijJT1O0alPQnLWJvJLR7Xx7Xg9fm9QOqFu8o29m3QQqFwZN4bki/RoprNtMKKtEET9iMsJyKpkiguAorn2yzkv0wG3M1EEVDJP5VN7muLjYCglzdGQ7boYGgRmorzhRDq83gglgylC+hBLEyy6ZQWNwCmmqt6PvExAqGEA9V2XIT4/fS+I2cx1n5td85kOCjHfPWTg72FJ/+vKOyggt+rytFbEDJWL+mPwpgw6HtFLIHmq4o2m1nZ9saKwiKEOTVZtWlnqHODPu949VfKD+zzpfynd/ZZU5IWZ0dgnqRHC4uOBpBsT8N7YbFJzADiW2eo/T979OKFxY8zk/+HR/NNEkzgSBsmA35Sayz1m/ubxgmYQOmffyRh9gdx42mUVX512oqWkfxAzyuSCxx1cywx3jIXuXJEEbssymo0xMy7SskJW9C5IPYroPwQunt7f5FEPPXJLWRbGHcL4Q3sx3TLAN6W672r/I5CKkL6zSwwk0AI8+iBCSv1Y7QQP5RSoLE227uy8vn22Y6dhLBgEsRh18cTGjIv3y+60Kmt3YAZQX8qf3bJDUc/5pdjti+KwAZ9GzzQzd23d1JBAnSvWkWB8YfsIGlspHitNiMPYPFfR+OecRuPyxgfoP9/HkR3cR27IohiaDXCk/3VNP6lIxP9TBnsMeAAUZloq6P8KURLBsNFuiA3LsN/d9qpCeKKIBgSzsN5k+rdh3uh0VbvMuOIomJD1fBOiCqIsvklS5bOQhMaahJC+Rc+6lz+Uvxmq05Py+LoGIQlLKvlcaHsFG9Ui66H/qdHz67sPRGho+ruC92QgN5JEMmLsZREEiJu78FJbyzT8FsdK90XoEcezn2R5iLUzZhczJmf1yNY3gJNJUQvbpTznTAbnV5J8iL4q2OWuhJEndWVTyEr8M5VGTWtvOmUo1DsnOsqXE5ZzKE8K4/8cl8+c1XArp1RUKz+iKP96j2FcUmA+v0HnEr0iUdSrRK5duAj1FQamvpiaXR2JddD6g8n4SyFx/fjT4LkC+ghJckj1e1wP+DrHrpIiMaPH5F1rcaRvwZWfEn6fx+/C7PdXABGLNKjr1USZ5XyHjsafXMEoXtguAfjykMioMMHISXVAc9yQY5o5Qg8MM0nhWCA2HoiEgBc1EH+warLjxH3Ln68M/ciFqI1bG0mBOxiNreOuShEf/9pIzhm1Bh2cbYVxn2IYQ7eljYpab/5EdPF2PSmcy+62j6e2HBPNbe+8JVMuRQBrWdL9uBh4bYbQaQJ07FyfcpCuvSuxUyYjP6avvw9gTcAj0uTVohSwOHDDaHTs8nyachMBcWoVDWp3/lWgqeCLMneAUhSuhD2RJpufLOSi7emxOVhYsOGomV2JCEKjWu7kuqwueyFEmDgVhR0l4oHn8W87UZuxb8id54SxHWiSnPKnMyAhzdhi2wN/AoH3OYwLajuybB8h/QeJJiX1gIt+dfij+gr0CJRXQ2Y04Q6q8xHzfWm9FIgchiW0+X86tIotIGzRG1gENaKokQkLn+FXZ2x3KUcp7d/NUsmOmFCG/i03YB8pi0eiNS4LUIfA06AKvfQmP/VAXS1AP2kzJ+9LAaTafvFyO7bz8U9OCpld2q1eHGts+ZFrt04AmIlubOPP7Xayfi/r0tiX2aaPT9Dz4+TVPBoXsjHDzWfrmawOsZfmBT/k2+c6sz/hvD5wjrjT7XgRlnEzPuZermi1jqfUrE3q7VdFfJu5oT9Ad+VUh1fIwIFhBy8TmMuhIeX2XpmogmvS1C3ZuwiyR87ZSrj0Jv1DpEAYkbcL3RpjZXmZpPV4mXH8z8Nh8CS+R+PpcTnkhyr5UJaSiz0wjK22Ewl+zS+pTug0PQ0CSnJQ5LfdR77vVZufgjkQ/ydf4V5zpEaNq+JZmrQK6WdZBacmMHL9RmLnPUs0/MYwYFzoyrXYQMTHGAUJOfumR5r79MZO28DIEXQVT5wGw99TY1T0GOCC/BzWv8READwICd0LjUNKnE6ORVa0lOnqhoO0v33lwWcwF0ynTgTpFxy+0OKdphNDWJlH8ubKoG6WJXtKxAwbsilpBJB+GBwimvTsCrv1R7LSX9ExkAw44ZEcxU3L50OHnKAyKZNe1fih+hVqItRGCDf7shuvme+lTWteX5oYuc58NrCaqjYIrIV0PFyQeh2ZzZEqNS60LuhnP5wweMkkaU93pDA/RWPNeGpPCBgiUeDvV0L1NfdRP/Hn5i7rUK7kftlIWeIUIYbtzzFl9nlIeaNfoX+x/qyWzIABLTZDbeq/hDZpxg2gkh+ICfSU8OUpJ8yWY17uQ5EGa+GGWFmnrBd9vX3KOteYkJaMpPwJ4TjzDjbhkOMKmWKClzVJ2g81YGFl/c0xPIKncgJGdUKvZoUUJu0gYaIAh6E0xNeQ15qpJXzNITgf4W+w/oUaKOM54EMUi1j5yvOCsEe8JYpwVGj53lNiPMY9Rltgd4icp82fvN69zkSBUI40nJSRTeHz7h1IX42Cr0klWjxjO05MSX1IaTeDmTRGEeKvAvtaaBaLQnjftGJz+4cjFyy6/iCjLGF2/gW+jQhEUxbEBPyQzXi+Bb4kc9wK4jIwNLWbwQAOtYKRLaipDH+X4TPPOG8DCNY4IC9yBk1qcibjhUgRnDcf35pl9d5otbvQjOIXlEu5dVtm5LRaK5KWcD/PX6LaGd25CuNHG/vgeIB1kcpCme+J8idlcjfBALAJSggznsGHGOAJgdGduMnZg+bAaeGASGV9bh/X2wPsVTmBLxmTTQsBGFkEOkZJTsGAm+HrtMDbWwvTXOutX1u7BxIq9Xib6DkFMbUitNdrYsULkahsAhBEh9FjdzL9BNARxTSr7T3u1rE+IWUmCIpwTZHZCu5l9THCuCcOhZqfekuQxjQ7EoyGUJAwCv/q1JOuJeCc/3lknb76zAquO/DAQhK/62cP8X2s3+IBLIhvL8RHopoHpIArJysYTTmMMeubPXh8W760AvMVH67jqgg06+/ne5MZ631z6yROhloh3dPQirZoEpr80wgt/cEbhbAQTmRLtGh8lxCwDBBb5OeJ4aEq25XBNMT2rzWedW2zIzj+CCDKlnlyJBzT81qBWp69h7vlb3TmEV+DNm2rqj1iT7BQuwVVsuPkwq1e5P8tgNjVbIlMzwXeM11kZqjx3KKFOJzc3CAyFVhi8fxVZ5FvhdAM5mM6kS6OgKu16MFglq3/b/QVIwdw7HUCyeW04JPjC5dO+GC9OfqfB4VX+wwuift+ths2Ss3i6nkOE+JFyD+wKFL+WMX6nwwDva0S1/O8Mlnida69Ph96fuFvCoRMvXnCfsLPPmC/hA5RnMNE4fDK0pVOQ4BHLaErzv/wD99ABmjNZk0AAAAABJRU5ErkJggg==);
    */
    background: url('/img/event.png') left top repeat;
    border: 2px solid #635fac;
    border-radius: 15px 0 15px 0;
    -webkit-border-radius: 15px 0 15px 0;
    -moz-border-radius: 15px 0 15px 0;
    -o-border-radius: 15px 0 15px 0;
    box-shadow: 0 0 4px #666;
    -webkit-box-shadow: 0 0 4px #666;
    -moz-box-shadow: 0 0 4px #666;
    -o-box-shadow: 0 0 4px #666;
}
#content .event h3 {
    margin: 0;
    color: #635fac;
}
#content .event h4 {
    margin: 10 0 0;
}
#content .event a img:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    transition: all 2s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

footer {
    margin-bottom: 15px;
    border-top: 1px solid #333;
}
footer p {
    height: 90px;
    line-height: 90px;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
    box-shadow: 0 0 10px #666;
    -webkit-box-shadow: 0 0 10px #666;
    -moz-box-shadow: 0 0 10px #666;
    -o-box-shadow: 0 0 10px #666;
    background: url('/img/footer.png') left top no-repeat;
}
footer p span {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    font-size: 14px;
    color: #fff;
}
footer a {
    color: #aaa;
}