
body {
    width: 900px;
    margin: auto;
    font-family: "Helvectica Neue", Helvetica, Arial, sans-serif;
}

header h1 a {
    display: block;
    width: 900px;
    height: 250px;
    margin: 20px 0;
    text-indent: -9000px;
    background: url('/img/ensilan.png') center top no-repeat;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 10px #666;
    -webkit-box-shadow: 0 0 10px #666;
    -moz-box-shadow: 0 0 10px #666;
    -o-box-shadow: 0 0 10px #666;
}

header h1 a:hover,
header h1 a:focus,
header h1 a:active {
    box-shadow: 0 0 20px #000;
    transition: all 2s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}