html {font-size: 100%;}
body{background-color:#2B5797;text-align:center;margin:0px;width:900px;margin:0 auto;font-family:Calibri;color:white;}
h1{background-color:#1D1D1D;display:inline-block;width: 900px;padding: 20px 0px 20px 0px;}
#header-menu li{display:inline-block;background-color:#603CBA;color:white;margin:0px 5px 0px 5px;padding:20px 40px 20px 40px;font-size:1.5em;}
aside{background-color:#603CBA;color:white;margin:10px;padding:10px;width:300px;height:300px;display:inline-block;vertical-align:bottom;}
footer{background-color:#1d1d1d;color:white;margin:10px;padding:10px;width:300px;height:80px;display:inline-block;vertical-align:bottom;}
article{background-color:#2D89EF;color:white;margin:10px;padding:10px;width:300px;height:300px;vertical-align:top;overflow:hidden;display:inline-block;vertical-align:bottom;text-align:justify;}
iframe{width:300px;height:238px;}
a{color:white;text-decoration:none;}
a:hover{text-decoration:underline;}
aside:hover, footer:hover, article:hover, li:hover{box-shadow:1px 1px 5px black;}