html {font-size: 100%;}
body{background-color:#2B5797;text-align:center;margin:0px;}
#header-menu{background-color:#1d1d1d;color:white;border:2px solid white;}
.event #content{background-color:#603CBA;color:white;border:2px solid white;}
footer{background-color:#1d1d1d;color:white;border:2px solid white;}
article{background-color:#2D89EF;color:white;border:2px solid white;}